* {
  font-family: 'Calibri';
}

body {
  font-family: 'Calibri';
  font-size: 20px;
  background-color: rgb(9, 16, 22);
  color: #ddd;
}
h4 {
  font-size: 40px;
}
.container {
  width: 500px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
  margin-right: 10px;
}
caption {
  padding: 10px 0;
  background-color: #fff6ce;
  border: 1px solid black;
  border-bottom: none;
}
td,
th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  font-size: 18px;
}
th {
  font-weight: bold;
  background-color: #fff6ce;
}
h4 {
  text-transform: uppercase;
}

#dark {
  background-color: #333;
  color: white;
}
/* Депозитный калькулятор */
#dark table, #dark td, #dark tr, #dark th {
  text-align: left;
  border: none;
}
#dark th {
  background-color: transparent;

}
h1 {
  text-align: center;
}
#diagram td {
  vertical-align: bottom;
  text-align: center;
  padding: 10px;
}
#diagram div {
  margin: auto;
}
#dark .d-flex {
  height: 200px;
}
.d-flex {
  display: flex;
  align-items: center;
}